html {
	height: 100%;
	background-color:rgb(150,130,140);
	background: -webkit-linear-gradient(to top, rgb(58, 123, 170), rgb(97, 100, 120));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, rgb(58, 123, 170), rgb(97, 100, 120)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: Helvetica;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
}

.background{
	background-color: rgba(245,245,245,0.85);
}
#container{
	margin: 20px auto 0 auto;
	width: 400px;
	/*-webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);*/
}

h2{
	margin: 20px auto 0 auto;
	text-align: center;
	padding: 10px 0px;
	font-weight: normal;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	/*border: 1px solid rgba(20,20,20,0.8);*/
	-webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
}

.row{
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
	overflow: hidden;
	/*border: 1px solid rgba(20,20,20,0.8);*/
	-webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
	/*box-sizing: border-box;*/
}

.day, .cal{
	/*border-top: 1px solid rgba(20,20,20,0.8);*/
	padding: 10px 3px;
	display: inline-block;
	width: calc( 100% - 148px );
	box-sizing: border-box;
	text-align: center;
	height: 100%;
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: 0;
}

.cal{
	width: 100px;
	/*border-right: 1px solid rgba(20,20,20,0.8);*/
	background-color: rgba(20,20,20,0.1);
	padding-top: 11px
}

.replace{
	width: 48px;
	background-color: rgba(223,20,20,0.9);
	color: rgba(224,224,224,0.95);
	border: none;
	/*border-top: 1px solid rgba(20,20,20,0.8);*/
	/*border-left: 1px solid rgba(20,20,20,0.8);*/
	padding: 10.5px 3px;
	margin: 0 0;
	font: 1.15em Helvetica;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}

/*.replace:focus{
	outline:none;
	-webkit-box-shadow: inset 0px 0px 1.5px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px 0px 1.5px 2px rgba(0,0,0,0.35);
	box-shadow: inset 0px 0px 1.5px 2px rgba(0,0,0,0.35);
}*/

.ui-dialog-titlebar-close{
	display:none;
}

.ui-dialog-titlebar{
	padding: 7px 5px;
	/*border: 1px solid rgba(20,20,20,0.8);*/
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
}


.ui-dialog{
	position: absolute;
	top: 20px;
	opacity:0;
}

.dialog{
	text-align: center;
	/*-webkit-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 2px 15px 0px rgba(0,0,0,0.3);*/
	/*border: 1px solid rgba(20,20,20,0.8);*/
	border-radius: 5px;
	/*overflow: hidden;*/
}

#dialog.ui-dialog-content.ui-widget-content{
	display: none;
}

.ui-dialog-buttonset button{
	float: left;
	padding: 7px 0;
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-top: 1px solid rgba(20,20,20,0.8);
	-webkit-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 5px 15px 0px rgba(0,0,0,0.3);
	margin: 0 0;
	font-size: 14px
}

.ui-dialog-buttonset button:nth-last-of-type(2){
	border-radius: 0 0 5px 5px;
	/*border-bottom: 1px solid rgba(20,20,20,0.8);*/
	overflow: hidden;
}

.ui-dialog-buttonset button:last-of-type{
	background-color: rgba(223,20,20,0.9);
	/*border-bottom: 1px solid rgba(20,20,20,0.8);*/
	border-top: none;
	color: rgba(224,224,224,0.95);
	border-radius: 5px;
	margin-top: 5px;
}

/*.ui-dialog-buttonset button:nth-of-type(even){
	border-left: 1px solid rgba(20,20,20,0.8);
}*/

.replace:focus, .ui-dialog-buttonset button:focus, .ui-dialog{
	outline:none;
}